.students{
    width: 80%;
    height: 44vh;
    background: #f1f1f100 ;
    overflow-y: auto ;
    /* border: 1px solid gray; */
    margin-top: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -2px rgba(250, 250, 250, 0.26);
}
.cont-cont{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

}
.container-students{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    
}


.student {
    width: 75% ;
    /* height: 60px; */
    line-height: 40px ;
    border-radius : 25px;
    color: #eee;
    background-color: #343a400a ;
    font-family : 'Ubuntu' ;
    border : 1px solid grey ;
    cursor:pointer;
    
    margin:8px 0 ;
    
}
.check {
    display: none;
}

.swal2-confirm {
    margin-left: 5px !important;
}

.new-input {
    width: 60%;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
    outline: none;
}

.search {
    width: 80%;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 150px;
    outline: none;
}

.main-title {
    letter-spacing: 2px;
    color:rgba(238, 238, 238, 0.726);
}

.next-btn {
    width: 25%;
}

.next-btn:focus {
    outline: none;
}

.icon-delete {
    font-size: 1.5em;
    cursor: pointer;
    
}

.icon-delete:hover {
    transform: scale(1.1);
    color:#ce182f;
}

.tableBody tr:hover {
    background-color: black; 
}

.edit-class {
    margin-top: -8%;
}

.addStd-cont{
    width:75%;
    margin:auto;
    
}

.btnEdCon{
    width:100%;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
    align-items: center;
}

.js{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: -8px;
}
.jsBack{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 10%;
}