#imageContainer {
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, .4fr) );
    justify-content:center;
    gap:30px;
    padding:30px;
    margin-top: 0;
}
.font-rec{
    font-family: 'Recursive', 'Ubuntu';
    color:#eee;
}

h2.font-rec{
    margin-bottom: 0;
}
h3.font-rec{
    margin-bottom: 0;
}
.my-line.neg{
    margin-top: 15px;
}
.my-shad{
    box-shadow:inset 0px 0px 10px 4px rgba(192, 190, 190, 0.911) ,0px 0px 10px -1px rgba(195, 195, 195, 0.911);;
    filter:brightness(.6);
}
.my-shad:hover{
    filter:brightness(1);
}