a:hover {
  text-decoration: underline;
}


.btns {
  margin-top: -10%;
}

.upload-text {
  font-family: 'Lora';
  letter-spacing: 2px;
}

.date {
  font-size: 25px !important;
}
.details {
  width: 200px;
  height: 50px;
  margin-top: 0;
}

.history {
  margin-top: -15%;
}