@import url('https://fonts.googleapis.com/css?family=Sansita+Swashed');
@import url('https://fonts.googleapis.com/css?family=Lobster');


.brand-font {
    font-family: 'Lobster';
}
.nav-font {
    font-family: 'Sansita Swashed';
    color: darkgrey !important;
}
.active {
    border-bottom: 2px solid darkgray;
}
.nav-font:hover {
    text-decoration: none;
}